#wrapper {
    max-width: 960px;
    margin: auto;
}

header{
    padding: 20px 0;
}

/*Main bar rules*/
nav a{
    text-decoration: none;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}


#heading {
    background: transparent url(/images/h1-bg.png);
    margin: 30px 0;
    padding-left: 20px;
}

h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    background: url(/images/bg.png);
    margin: 0;
    padding: 0 10px;
}

section {
    margin-left: 280px;
    padding-bottom: 50px;
}

blockquote {
    margin: 0;
    background: #29c5e6;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}

blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color: #1d8ea6;
    margin: 0;
    text-align: right;
}
